{% extends 'basebs.html' %}

{% block title %} Home di Gestione {% endblock %} 

{% block header1 %}
  <h1>Home di Gestione</h1>
  <p>Welcome 
    {% if user.is_authenticated %}
     {{ user.username }}
    {% else %}
    Utente non registrato
    {% endif %}
  </p> 
{% endblock %}

{% block content %} 

<h2>Cosa vuoi fare oggi?</h2>

<br>

<div class="list-group">
  <a href="{% url 'gestione:cercafilm' %}" class="list-group-item list-group-item-info">Cerca un film</a>
  <a href="{% url 'gestione:listafilm' %}" class="list-group-item list-group-item-info">Lista dei film con filtri</a>
  <a href="{% url 'gestione:cercafilm' %}" class="list-group-item list-group-item-info">Effettua prenotazione</a>
  <a href="{% url 'gestione:my_situation' %}" class="list-group-item list-group-item-info">La mia situazione</a>
  <a href="{% url 'gestione:film_consigliati'%}" class="list-group-item list-group-item-info">Film Consigliati per te</a>
</div>

<br>

{% if user.is_staff %}
<br>
<a href="{% url 'registerg' %}" class="list-group-item list-group-item-danger">Iscrivi un gestore</a>
<br>
{% endif %}


{% if "Gestori" in user.groups.all.0.name or user.is_staff %}
<br>
<a href="{% url 'gestione:creafilm' %}" class="list-group-item list-group-item-warning">Aggiungi un film</a>
<a href="{% url 'gestione:creaproiezione' %}" class="list-group-item list-group-item-warning">Aggiungi una proiezione</a>
<br>
{% endif %}


{% endblock %}
