{% extends 'basebs.html' %}

{% block title %}Proiezioni del film{% endblock %}

{% block header1 %}
  <h1>Proiezioni del film</h1>
{% endblock %}

{% block content %}
    <h1>Proiezioni per {{ film.titolo }}</h1>
    
    <h2>Proiezioni programmate</h2>
    <br>
    
    {% if proiezioni %}
        <div class="row">
            {% for proiezione in proiezioni %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ film.titolo }}</h5>
                            <p class="card-text">
                                Data: {{ proiezione.data|date:"d/m/Y" }}<br>
                                Ora di inizio: {{proiezione.ora_inizio|date:"H:i" }} <br>
                                Sala: {{ proiezione.sala }} <br>
                                Posti disponibili: {{ proiezione.posti_disponibili }} <br>
                                <a href="{% url 'gestione:prenota_proiezione' proiezione.id %}" class="btn btn-primary">Prenota</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nessuna proiezione trovata.</p>
    {% endif %}
{% endblock %}